{{# each products }}
  <div class="row">
    {{# each this }}
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          {{this.title}}
          <div>
          <img src="{{this.imagePath}}" alt="{{this.title}}">
          </div>
          <h3 class="mr-auto pull-left my-2">${{this.price}}</h3>
          <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right my-2">Add To Cart</a>
          <div class="clearfix"></div>
          <p>{{this.description}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <br>
{{/each}}